PORT=3000
MONGO_URI=mongodb://localhost:27017/lead-management
JWT_SECRET=your_jwt_secret_here

# Initial SuperAdmin Credentials (Only used by seed script)
INITIAL_SUPERADMIN_MOBILE=0000000000
INITIAL_SUPERADMIN_PASSWORD=your_secure_password_here

# Meta Lead Ads Integration
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
META_VERIFY_TOKEN=your_meta_webhook_verify_token
META_SYNC_CRON="*/3 * * * *"

122100137427320256

EAAgrpaL4NrkBRad4rHZAfoTfcF8iXuNJUmZByZBwipWD2DfSjeLbggRSAmmhVFPX8PP932RIHlSgKQKOY13zbT0JMSXWKI21eHp9kPRgOaYe1I84iYHjVspQ5qAfEPPBUdwfc7FCFPWUEen8ya8S4PG7LlexN760djU3Oy58ZCnPkMA83e7kISfOhLTDBP4EuujBCkkw